<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="https://unpkg.com/ccxt"></script>
</head>

<body>

<div ng-app="exchangeInfo">
<form name="exchangeList" ng-controller="checkboxCtrl">
    <label ng-repeat="exchange in exchanges">
        <input  type="checkbox"
                value="{{exchange}}"
                ng-checked="selection.indexOf(exchange) > -1"
                ng-click="toggleSelection(exchange)">
        {{exchange}}
    </label>
    <p>{{selection}}</p>
</form>
</div>
    
<script src="myApp.js"></script>
</body>
